@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');
body {
    font-size: $font-size-px-base; //16px
    line-height: 1.5rem;
}

h1, h2, h3, h4, h5 {
    font-weight: 700 !important;
}
h1 {
    font-size: $font-size-px-base * 2;  // 33px

    @media (min-width: breakpoint-min(md)) {
        font-size: $font-size-px-base * 3;  // 48px
    }
}
h2 {
    font-size: $font-size-px-base * 2;  // 33px

    @media (min-width: breakpoint-min(md)) {
        font-size: $font-size-px-base * 3;  // 36px
    }
}
h3 {
    font-size: $font-size-px-base * 2;  // 33px

    @media (min-width: breakpoint-min(md)) {
        font-size: $font-size-px-base * 3;  // 36px
    }
}
h4 {
    font-size: $font-size-px-base * 2;  // 33px

    @media (min-width: breakpoint-min(md)) {
        font-size: $font-size-px-base * 3;  // 36px
    }
}